<ion-view view-title=" Editar Asociación">
  <ion-content>
    <ion-list>



   
   


  <div  class="list">
     <form ng-submit="ActualizarAsociaciones(actuali_asociation)">

      <label class="item item-input item-floating-label">
        <span class="input-label"><b>Nombre:</b></span>
        <input type="text" placeholder="Nombre" ng-model="actuali_asociation.nombre" >
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label"><b>Alias:</b></span>
        <input type="text" ng-model="actuali_asociation.alias" placeholder="Alias">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label"><b>Codigo:</b></span>
        <input type="text"  ng-model="actuali_asociation.codigo" placeholder="Codigo"> 
      </label>

      <label class="item item-input item-select"><b>Unión:</b>
         <select id="station-select" ng-model="actuali_asociation.union">
         
           <option ng-repeat="union in uniones" value="{{union.rowid}}">{{union.nombre}} {{union.alias}}</option>
        </select>
        

      </label>

     

       <div class="center">
            <input class="button button-block button-assertive" type="button" ng-click="CancelarActualizarAsociaciones()" value="Cancelar">
            <input class="button button-block button-positive" type="submit" value="Actualizar Asociación">
       </div>
          

      </form>

  </div>


    

   

   
    </ion-list>
  </ion-content>
</ion-view>
