<ion-view view-title="Iglesias">
  <ion-content>
    <ion-list>




    <button ng-click="VerCrearUnion()" class="button button-block button-positive">Crear</button>



  <div ng-show="VermostrandoCrearUnion" class="list">
     <form ng-submit="inserter_union(creatar_union)">

      <label class="item item-input item-floating-label">
        <span class="input-label"><b>Nombre:</b></span>
        <input type="text" placeholder="Nombre" ng-model="creatar_union.nombre" >
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label"><b>Alias:</b></span>
        <input type="text" ng-model="creatar_union.alias" placeholder="Alias">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label"><b>Codigo:</b></span>
        <input type="text"  ng-model="creatar_union.codigo" placeholder="Codigo"> 
      </label>

     

       <div class="center">
            <input class="button button-block button-assertive" type="button" ng-click="CancelarCrearUnion()" value="Cancelar">
            <input class="button button-block button-positive" type="submit" value="Guardar Union">
       </div>
          

      </form>

  </div>


    <ion-item class="item-remove-animate " ng-repeat="union in uniones"  href="#/tab/uniones/{{union.rowid}}">
            
            <h2>{{union.nombre}}</h2>
            <h2>{{union.alias}}</h2>
            <h2>{{union.codigo}}</h2>
            
           

        <ion-option-button class="button-assertive" ng-click="EliminarUnion(union)">
              Eliminar
        </ion-option-button>
    </ion-item>


   

   
    </ion-list>
  </ion-content>
</ion-view>
