<ion-view view-title="Editar Iglesias">
  <ion-content>
    <ion-list>







  <div class="list">
     <form ng-submit="ActualizarIglesia(iglesia)">

      <label class="item item-input item-floating-label">
        <span class="input-label"><b>Nombre:</b></span>
        <input type="text" placeholder="Nombre" ng-model="iglesia.nombre" >
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label"><b>Alias:</b></span>
        <input type="text" ng-model="iglesia.alias" placeholder="Alias">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label"><b>Codigo:</b></span>
        <input type="text"  ng-model="iglesia.codigo" placeholder="Codigo"> 
      </label>

       <label class="item item-input item-select"><b>Distrito:</b>
         <select id="station-select" ng-model="iglesia.distrito">
         
           <option ng-repeat="distrito in distritos" value="{{distrito.rowid}}">{{distrito.nombre}} {{distrito.alias}}</option>
        </select>
        

      </label>

      
       <label class="item item-input item-floating-label">
        <span class="input-label"><b>Zona:</b></span>
        <input type="text"  ng-model="iglesia.zona" placeholder="Zona"> 
      </label>

       <label class="item item-input item-select"><b>Tesorero:</b>
         <select id="station-select" ng-model="iglesia.tesorero">
         
           <option ng-repeat="usuario in usuarios" value="{{usuario.rowid}}">{{usuario.nombres}} {{usuario.apellidos}}</option>
        </select>
        

      </label>



     

       <div class="center">
            <input class="button button-block button-assertive" type="button" ng-click="CancelarActualizarIglesia()" value="Cancelar">
            <input class="button button-block button-positive" type="submit" value="Actualizar Iglesia">
       </div>
          

      </form>

  </div>


     

   
    </ion-list>
  </ion-content>
</ion-view>