<ion-view view-title="Uniones">
  <ion-content>
    <ion-list>
     <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label"><b>Nombre:</b></span>
    <input type="text" placeholder="Nombre">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label"><b>Alias:</b></span>
    <input type="text" placeholder="Alias">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label"><b>Codigo:</b></span>
    <input type="text" placeholder="Codigo">
  </label>
</div>
   
    </ion-list>
  </ion-content>
</ion-view>
