<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->


  <!-- Chats Tab -->
 
  <!-- Account Tab -->
 

  <ion-tab title="Uniones" icon-off="ion-ios-folder-outline" icon-on="ion-ios-folder" href="#/tab/uniones">
    <ion-nav-view name="tab-uniones"></ion-nav-view>
  </ion-tab>

    <ion-tab title="Asociaciones" icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad" href="#/tab/asociaciones">
    <ion-nav-view name="tab-asociaciones"></ion-nav-view>
  </ion-tab>

   <ion-tab title="Distritos" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" href="#/tab/distritos">
    <ion-nav-view name="tab-distritos"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Iglesias" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/iglesias">
    <ion-nav-view name="tab-iglesias"></ion-nav-view>
  </ion-tab>

   <ion-tab title="Cuenta" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>






</ion-tabs>
